*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'roboto';
    background-color:  #f8f8f8;
}
.row {
    width: 50%;
  }
.back{
    background-image: url("../../../../public/images/back.webp");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    padding-top: 30%;
    padding-right: 50px;
    color: #fff;
    text-align: center;
}

.back h1{
    font-size: 100px;
    font-weight: 400;
}
.back h2{
    font-weight: 500px;
    font-size: 17px;
    text-transform: uppercase;
}
.margin{
    margin-top: 17%;
}